html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
}

.navbar {
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0px;
  border: 1.5px solid #dfe1e5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /*justify-content: center;*/

}

.mainbody {

  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  height: 90%;
  border-radius: 0px;
  /*border: 1.5px solid #000000;*/

}

.footerbar {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  height: 5%;
  border-radius: 0px;
  /*border: 1.5px solid #000000;*/
  border: 1.5px solid #dfe1e5;
}


.maintitle {
  background-color: rgb(255, 255, 255);
  margin-top: 10%;
  width: 100%;
  height: 128px;
  border-radius: 1.5px;
  /*border: 1.5px solid #dfe1e5;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchinputcontainer {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  border-radius: 1.5px;
  /*border: 1.5px solid #dfe1e5;*/
  display: flex;
  justify-content: center;
}

.homebuttoncontainer {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10%;
  width: 100%;
  height: 30%;
  border-radius: 1.5px;
  /*border: 1.5px solid #dfe1e5;*/
}


.sh1 {
  font-size: 85px;
}


.searchinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  margin: 16px;
  width: 32rem;
  height: 38px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 32px;
  transition-duration: 0.2s;
}

.searchinput:hover {
  box-shadow: 3px 3px 3px rgb(99, 99, 99);
}


.sinput {
  margin: 16px;
  width: 32rem;
  height: 38px;
  border-radius: 16px;
  transition-duration: 0.2s;
}

.sinput:hover {
  box-shadow: 2px 2px 2px rgb(99, 99, 99);
}

.sbutton {
  border-radius: 4px;
  margin: 8px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.sbutton:hover {
  border: 1.5px solid#272727;
  box-shadow: 2px 2px 2px rgb(99, 99, 99);
}

.sbutton:active {
  background-color: #dadada;
}

.slink {
  font-size: 13px;
  color: black;
  margin: 10px;
}

.itemcontainericon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  margin: 0px;
  width: 40px;
  height: 38px;
  border-radius: 32px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.itemcontainerinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(99, 199, 99, 0);
  width: 100%;
  height: 34px;
  border-radius: 16px;
}

.ginput {
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  width: 95%;
  margin-left: 5px;
  border: none;
}

.ginput[type="text"]:focus {
  background-color: none;
  border: none;
  outline: none;
}

